<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="{% static 'images/company-logo.png' %}" alt="Company Logo"></a>
        </div>
        <nav>
            <a href="login.html" id="nav-login-btn">Login</a>
            <a href="signup.html">Sign Up</a>
            <a href="cart.html">Cart <span id="cart-count">0</span></a>
        </nav>
    </header>

    <main>
    <h1>Cart</h1>
    
    <div class="cart-container">
        <section class="cart-items">

            {% for item in cart_items %}
            <div class="cart-item">
                <div class="product-info">
                    <img src="{{item.product.image.url}}" alt="{{item.product.title}}">
                    <div>
                        <h4>{{item.product.title}}</h4>
                        <p>Product ID: 12345</p>
                        <p class="quantity">Quantity: {{item.quantity}}</p>
                        <p class="unit-price">Unit Price: ${{item.product.price}}</p>
                    </div>
                </div>
                <div class="quantity-actions">
                    <button class="remove">Remove</button>
                    <button class="decrement">-</button>
                    <input class="quantity" type="number" value="{{item.quantity}}" min="1">
                    <button class="increment">+</button>
                </div>
                <p class="price">$ </p>
            </div>
            {% endfor %}

        </section>

        <!--Information here needs to be calculated based on items in cart-->
        <div class="cart-summary">
            <p class="subtotal">Subtotal: $00.00</p>
            <p class="shipping-cost">Shipping: $00.00</p>
            <p class="total-price">Total: $00.00</p>
            <button class="checkout-button">Proceed to Checkout</button>
        </div>
    </div>
</main>

    <footer>
        <p>&copy; Company Name</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'cart.js' %}"></script>
</body>
</html>