<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="{% static 'images/company-logo.png' %}" alt="Company Logo"></a>
        </div>
        <nav>
            <a href="login.html">Login</a>
            <a href="signup.html">Sign Up</a>
            <a href="cart.html">Cart<span id="cart-count">0</span></a>
        </nav>
    </header>

    <main>
      <!--Information in this form will need to be added to our database-->
      <form class="sign-up" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>

          <label for="first_name"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="first_name" required>

          <label for="last_name"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="last_name" required>

          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter a Username" name="username" required>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="phone_number"><b>Phone Number (Optional)</b></label>
          <input type="text" placeholder="Enter Phone Number" name="phone_number">

          <label for="address"><b>Address (Optional)</b></label>
          <input type="text" placeholder="Enter Address" name="address">
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <label for="password-confirm"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="password-confirm" required>
      
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
      <div class="container" style="background-color:#f1f1f1">
        <!--<button type="button" class="cancelbtn">Cancel</button>-->
        <span class="containerlink">Already have an account? <a href="login.html">Sign In</a></span>
      </div>
      <!--END OF FORM-->

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modal-message"></p>
        </div>
      </div>
</main>

<footer>
    <p>&copy; Company Name</p>
</footer>

<script src="{% static 'script.js' %}"></script>
</body>
</html>